@model DentalClinic_1._1.Models.AddDentists

@{
    ViewData["Title"] = "Add Dentist";
}

<h1>AddDentist</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDentist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Dentist.Firstname" class="control-label"></label>
                <input asp-for="@Model.Dentist.Firstname" class="form-control" />
                <span asp-validation-for="@Model.Dentist.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dentist.Lastname" class="control-label"></label>
                <input asp-for="@Model.Dentist.Lastname" class="form-control" />
                <span asp-validation-for="@Model.Dentist.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dentist.Email" class="control-label"></label>
                <input asp-for="@Model.Dentist.Email" class="form-control" />
                <span asp-validation-for="@Model.Dentist.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dentist.Birthdate" class="control-label"></label>
                <input asp-for="@Model.Dentist.Birthdate" class="form-control" />
                <span asp-validation-for="@Model.Dentist.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dentist.Address" class="control-label"></label>
                <input asp-for="@Model.Dentist.Address" class="form-control" />
                <span asp-validation-for="@Model.Dentist.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dentist.Town" class="control-label"></label>
                <input asp-for="@Model.Dentist.Town" class="form-control" />
                <span asp-validation-for="@Model.Dentist.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dentist.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.Dentist.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.Dentist.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" method="post">
                <label asp-for="@Model.Dentist.SpecialtyName" class="control-label"></label>
                <select class="selectpicker" name="Dentist">
                    <option>Chose a Specialty...</option>
                    @foreach (var item in @Model.Specialty)
                    {
                        <option value="Specialty">@item.Name</option>

                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dentist.Description" class="control-label"></label>
                <textarea asp-for="@Model.Dentist.Description" class="form-control" id="message"
                          name="message" placeholder="Tell me something about your careere..." style="height:100px">
                </textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllDentists">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}