@model DentalClinic_1._1.ViewModels.Patient.AddPatientViewModel
@{
    ViewData["Title"] = "AddPatient";
}
<link href="~/css/InputForm.css" rel="stylesheet" />

<h1>Add Patient</h1>
<div class=" container">
    <form action="/" method="post">
        <div class="row">
            <div class="col-25">
                <label for="text"><b>@Model.Firstname</b></label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="First Name" name="first name" id="first name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="psw"><b>@Model.Lastname</b></label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Last Name" name="last name" id="last name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email"><b>@Model.Email</b></label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Email" name="email" id="email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email"><b>@Model.Birthdate</b></label>
            </div>
            <div class="col-75">
                <input type="date" placeholder="Birth date" name="birth date" id="birth date" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email"><b>@Model.Address</b></label>
            </div>
            <div class="col-75">

                <input type="text" placeholder="Address" name="address" id="address" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="town"><b>@Model.Town</b></label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Town" name="town" id="town" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email"><b>@Model.PhoneNumber</b></label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Phone number" name="phone number" id="phone number" required>
            </div>
        </div>
        <button class="btn btn-success" value="Submit">Submit</button>
        <div>
            <a class="center" asp-action="AllPatients">Back to List</a>
        </div>
    </form>
</div>