@model IEnumerable<DentalClinic_1._1.ViewModels.Dentist.AllDentistsViewModel>

@{
    ViewData["Title"] = "All Dentists";
}

<h1>All Dentists</h1>

<p>
    <a asp-action="AddDentist">Add new Dentist</a>
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                UserId : @item.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.FirstName @item.LastName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="RemoveDentist" asp-route-id="@item.Id" method="post">
                    @*<a asp-action="EditUser" asp-controller="Administrator" asp-route-id="@item.Id" class="button btn-primary">Edit</a>*@
                    <button type="submit" class="button btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
</table>
