@model IEnumerable<DentalClinic_1._1.ViewModels.Patient.AllPatientsViewModel>

@{
    ViewData["Title"] = "AllPatients";
}

<h1>AllPatients</h1>

<p>
    <a asp-action="AddPatient">Add new Patient</a>
<p> Number of patients in database: @Model.Count()</p>
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                UserId : @item.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.FirstName @item.LastName</h5>
                <p> @item.PhoneNumber </p>
                <p> @item.Email </p>
            </div>
            <div class="card-footer">
                <form asp-action="RemovePatient" asp-route-id="@item.Id" method="post">
                    <button type="button" class="btn btn-danger">Delete</button>
                </form>
                <button class="btn btn-info"><a asp-action="Details" asp-route-id="@item.Id" class="text-white">Details</a></button>
            </div>
        </div>
    }
</table>
