@model IEnumerable<DentalClinic_1._1.ViewModels.Specialty.AllSpecializationViewModel>

@{
    ViewData["Title"] = "AllSpecializations";
}

<h1>All Specializations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialtyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <button class="btn btn-info"><a class="text-white" asp-action="Details" asp-route-id="@item.SpecialtyName">Details</a></button>
                <button class="btn btn-danger"><a class="text-white" asp-action="RemovePatient" asp-route-id="@item.SpecialtyName">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
